upstream cert_manager_sock {
    server unix:${SOCKET_PATH};
    keepalive 4;
}
server {
    server_name cert-manager;
    listen 8080;
    location /api {
        rewrite /api(.*) /$1 break;
        proxy_pass http://cert_manager_sock$1$is_args$args;
    }
}