upstream backend {
    server ${CLOUD_MQTT_HOST}:${CLOUD_MQTT_PORT};
}
server {
    server_name mqtt-gateway;
    listen 1883;
    proxy_pass backend;
    proxy_ssl  on;
    proxy_ssl_certificate /opt/certs/client.crt;
    proxy_ssl_certificate_key /opt/certs/client.key;
    proxy_ssl_session_reuse on;
}
